body {
  margin: 0;
  /*
  Since <body> is parent of top container. so to center all the content inside <body
  we apply:
  text-align:center;
  */
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border: 6px dotted #EAF6F6;
  width: 4%;
  border-bottom: none;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #EAF6F6;
  padding: 100px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 350px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 420px;
}


.middle-container {
  margin: 100px 0;
}

.profile-img{
  width: 15%;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.skill-row {
  width: 50%;
  margin: 6.25rem auto 6.25rem auto;
  text-align: left;
}

.computer-img {
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 1.875rem;
}

.development-design {
  width: 25%;
  float: right;
  margin-left: 1.875rem;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background-color: #66BFBF;
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
}

.btn:hover {
  background-color: #9bdeac;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
